.countries-Europa {
    color: yellow;
}

.countries-Asia {
    color: red;

}

.countries-Oceania {
    color: purple;

}

.countries-Africa {
    color: blue;

}

.countries-Americas {
    color: green;

}


